* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #606060;
}


.container {
    margin: 1% 4%;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    width: 200px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu>li {
    padding: 10px;
    font-size: 20px;
}

.buton-register {
    background-color: #FA5515;
    color: #fff;
}

.buton-register>a {
    color: #fff;
}

.submenu>ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

.submenu>ul>li {
    padding: 10px;
    font-size: 18px;
}

.banner {
    display: flex;
    padding: 2% 4%;
    height: 600px;
    align-items: center;
}

.banner>.imagen-banner-principal {
    background-image: url("img/img_hero2x.webp");
    height: 454px;
    width: 690px;
}

h2 {
    font-size: 64px;
    color: black;
}

.buton-create>p {
    color: #fff;
    background-color: #FA5515;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    font-weight: 800;
    font-size: 30px;
    margin-top: 20px;

}


.banner>.textos {
    width: 90%;
}

.principal-parrafo {
    font-size: 24px;
}

/* subtitulo */
.subtitulo {
    background-color: #606060;
    padding: 2% 12%;
    text-align: center;
}

.subtitulo>h3 {
    color: #fff;
    font-size: 50px;

}

.subtitulo>p {
    color: #fff;
    font-size: 25px;
}

.subtitulo>a {
    color: #fff;
    font-size: 25px;
    text-decoration: underline;
}

/* .subtitulo-2  */
.subtitulo-2 {
    padding: 2% 4%;
}

.subtitulo-2>h3 {
    color: black;
    font-size: 50px;
}

.subtitulo-2>.columns {
    display: flex;
}

.subtitulo-2>.columns>img {
    width: 50%;
}

.subtitulo-2>.columns>.text-1 {
    padding: 0% 10%;
}

.subtitulo-2>.columns>.text-1>div {
    padding-bottom: 40px;
}

.subtitulo-2>.columns>.text-1>div>h4 {
    font-size: 20px;
    font-weight: 800;
}

.subtitulo-2>.columns>.text-1>div>p {
    font-size: 18px;
}

.subtitulo-2>.columns>.text-1>div>a {
    color: blue;
    font-size: 25px;
    text-decoration: underline;
}

/* .subtitulo-3 */
.subtitulo-3 {
    padding: 2% 4%;
}

.subtitulo-3>.titulo {
    padding: 0% 20%;
}

.subtitulo-3>.titulo>h3 {
    color: black;
    text-align: center;
    font-size: 60px;
}

.subtitulo-3>.titulo>p {
    font-size: 20px;
    text-align: center;
}

.subtitulo-3>.columns>div>img {
    width: auto;
    height: 300px;
}
.subtitulo-3>.columns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top:5%
}
.subtitulo-3>.columns>div{
    padding-right: 10%;

}
.subtitulo-4>h3{
    color: black;
    text-align: center;
    font-size: 70px;
}
.subtitulo-4>p{
    color: black;
    text-align: center;
    font-size: 20px;
}   
.subtitulo-4>div>a{
    color: blue;
    text-align: center;
    font-size: 20px;
}   
.subtitulo-4{
    text-align: center;
    padding: 2% 20%;
}

.subtitulo-4>img{
    width: 80%;    
}
.subtitulo-5{
    display: flex;
}
.subtitulo-5>div{
width: 50%;
padding: 0% 5%;
}
.subtitulo-5>div>h3{
    color: black;
    font-size: 40px;
}
.subtitulo-5>div>p{
    color: black;
    font-size:20px ;
}
.subtitulo-5>div>a{
    color: blue;
    text-decoration: underline;
    font-size: 25px;
}
.subtitulo-5>div>img{
    display: flex;
    width: 80%;
    padding: 2% 2%  ;

}
.parrafo-6{
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}
.parrafo-6>div>h3{
    color: black;
    font-size: 30px;
    padding: 5%;
    }
.parrafo-6>div>ul{
    list-style: none;
    font-size: 20px;
}
.parrafo-6>div>ul>li{
    color: black;
    padding: 2px 0px;
}